# Created by .ignore support plugin (hsz.mobi)
### Maven template
/target/


# User-specific stuff:
/.idea/
*.iml





## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/
/logs/
*.log



