<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="access"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>logs/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/access.log.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="executionTime"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>logs/executionTime.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/executionTime.log.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!--<springProfile name="prod">-->
        <!--<appender name="Sentry" class="com.getsentry.raven.logback.SentryAppender">-->
            <!--<dsn>https://7242adf5355c48afa78204877df42eec:bf4f524364fd43d89b854414d465c0e8@sentry.io/115055?options-->
            <!--</dsn>-->
            <!--<tags>tag1:value1,tag2:value2</tags>-->
            <!--&lt;!&ndash; Optional, allows to select the ravenFactory &ndash;&gt;-->
            <!--&lt;!&ndash;<ravenFactory>com.getsentry.raven.DefaultRavenFactory</ravenFactory>&ndash;&gt;-->
        <!--</appender>-->

        <!--<logger name="access" level="DEBUG" additivity="false">-->
            <!--<appender-ref ref="access"/>-->
            <!--<appender-ref ref="Sentry"/>-->
        <!--</logger>-->
    <!--</springProfile>-->

    <!--not send evnet to Sentry-->
    <springProfile name="dev">

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
        <logger name="access" level="DEBUG" additivity="false">
            <appender-ref ref="access"/>
        </logger>

        <logger name="executionTime" level="DEBUG" additivity="false">
            <appender-ref ref="executionTime"/>
        </logger>
    </springProfile>


</configuration>
