<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rest.mapper.ContentMapper">

    <sql id="all_column">
        `id`,
        `title`,
        `source_content`,
        `html_content`,
        `updatetime`,
        `addtime`,
        `index_content`
        ,`user_id`
        ,`status`
    </sql>


    <resultMap id="AllColumnMap" type="com.rest.domain.Content">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="source_content" property="source_content"/>
        <result column="html_content" property="html_content"/>
        <result column="updatetime" property="updatetime"/>
        <result column="addtime" property="addtime"/>
        <result column="index_content" property="index_content"/>
        <result column="user_id" property="userId"></result>
        <result column="status" property="status"></result>
    </resultMap>


    <sql id="select">
        SELECT id, title,source_content,html_content,updatetime,addtime,index_content
        ,`user_id`
        ,`status`
        FROM content
    </sql>
    <insert id="addContent" useGeneratedKeys="true" keyProperty="id">
        insert INTO content(title,source_content,html_content,index_content,`user_id`
        ,`status`,updatetime,addtime) VALUES
        (#{title},#{source_content},#{html_content},#{index_content},#{userId},#{status},now(),now())
    </insert>
    <update id="updateContent">
        UPDATE content
        <set>
            <if test="pojo.id != null">id = #{pojo.id},</if>
            <if test="pojo.title != null">title = #{pojo.title},</if>
            <if test="pojo.source_content != null">source_content = #{pojo.source_content},</if>
            <if test="pojo.html_content != null">html_content = #{pojo.html_content},</if>
            <if test="pojo.updatetime != null">updatetime = #{pojo.updatetime},</if>
            <if test="pojo.index_content != null">index_content = #{pojo.index_content}</if>
        </set>
        WHERE id = #{pojo.id}
    </update>
    <delete id="deletebyId">
        DELETE FROM content where id = #{pojo.id}
    </delete>

    <select id="getPage" resultType="com.rest.domain.Content">
        <include refid="select"></include>
        ORDER BY addtime desc limit #{start},#{limit}
    </select>

    <select id="getCount" resultType="int">
        SELECT count(*) from content
    </select>
    <select id="findById" resultType="com.rest.domain.Content">
        <include refid="select"></include>
        WHERE id = #{id}
    </select>
    <update id="updateStatusById">
        update content
        set `status`=#{updatedStatus}
        where `id`=#{id}
    </update>
    <select id="findUserIdById" resultType="java.lang.String">
        select `user_id`
        from content
        where `id`=#{id}
    </select>
</mapper>