<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2015-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rest.mapper.ContentMapper">

    <sql id="select">
        SELECT id, title,source_content,html_content,updatetime,addtime
        FROM content
    </sql>
    <insert id="addContent" useGeneratedKeys="true" keyProperty="id">
        insert INTO content(title,source_content,html_content,updatetime,addtime) VALUES (#{title},#{source_content},#{html_content},now(),now())
    </insert>
    <update id="updateContent">
        UPDATE content
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.title != null"> title = #{pojo.title}, </if>
            <if test="pojo.source_content != null"> source_content = #{pojo.source_content}, </if>
            <if test="pojo.html_content != null"> html_content = #{pojo.html_content}, </if>
            <if test="pojo.updatetime != null"> updatetime = #{pojo.updatetime} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>

    <select id="getPage" resultType="com.rest.domain.Content">
      <include refid="select"></include>
        ORDER BY addtime desc limit #{start},#{limit}
    </select>

    <select id="getCount" resultType="int">
        SELECT count(*) from content
    </select>
    <select id="findById" resultType="com.rest.domain.Content">
        <include refid="select"></include>
        WHERE id = #{id}
    </select>
</mapper>