<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rest.mapper.MyBatisLogDao">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.rest.domain.MyBatisLog">
        <result column="id" property="id"/>
        <result column="class_name" property="className"/>
        <result column="user_ip" property="userIp"/>
        <result column="messages" property="messages"/>
        <result column="create_time" property="createTime"/>
        <result column="logger_level" property="loggerLevel"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `class_name`,
        `user_ip`,
        `messages`,
        `create_time`,
        `logger_level`
    </sql>

    <!--auto generated Code-->
    <insert id="insert">
        INSERT INTO my_batis_log
        (`id`,`class_name`,`user_ip`,`messages`,`create_time`,`logger_level`)
        VALUES
        (#{pojo.id},#{pojo.className},#{pojo.userIp},#{pojo.messages},#{pojo.createTime},#{pojo.loggerLevel})
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective">
        INSERT INTO my_batis_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="pojo.id!=null"> `id`,</if>
                <if test="pojo.className!=null"> `class_name`,</if>
                <if test="pojo.userIp!=null"> `user_ip`,</if>
                <if test="pojo.messages!=null"> `messages`,</if>
                <if test="pojo.createTime!=null"> `create_time`,</if>
                <if test="pojo.loggerLevel!=null"> `logger_level`</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="pojo.id!=null"> #{pojo.id},</if>
                <if test="pojo.className!=null"> #{pojo.className},</if>
                <if test="pojo.userIp!=null"> #{pojo.userIp},</if>
                <if test="pojo.messages!=null"> #{pojo.messages},</if>
                <if test="pojo.createTime!=null"> #{pojo.createTime},</if>
                <if test="pojo.loggerLevel!=null"> #{pojo.loggerLevel}</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO my_batis_log (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.className},
            #{pojo.userIp},
            #{pojo.messages},
            #{pojo.createTime},
            #{pojo.loggerLevel}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE my_batis_log
        <set>
            <if test="pojo.id != null"> id = #{pojo.id},</if>
            <if test="pojo.className != null"> class_name = #{pojo.className},</if>
            <if test="pojo.userIp != null"> user_ip = #{pojo.userIp},</if>
            <if test="pojo.messages != null"> messages = #{pojo.messages},</if>
            <if test="pojo.createTime != null"> create_time = #{pojo.createTime},</if>
            <if test="pojo.loggerLevel != null"> logger_level = #{pojo.loggerLevel}</if>
        </set>
        WHERE `id` = #{pojo.id}
    </update>

<!--auto generated by codehelper on 2017-02-27 19:57:32-->
    <select id="find" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from my_batis_log
    </select>

<!--auto generated by codehelper on 2017-02-28 00:26:52-->
    <select id="findOrderByCreateTimeDesc" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from my_batis_log order by `create_time` desc
    </select>
</mapper>

